.middle_font_main {
  .DPR01G01 {
    .el-form-item__label {
      width: 100px !important;
    }
    .el-form-item__content {
      margin-left: 100px !important ;
    }
    .no_margin_left {
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }

  .label60 {
    .el-form-item__label {
      width: 60px !important;
    }
    .el-form-item__content {
      margin-left: 60px !important ;
    }
    .no_margin_left {
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }

  .label70 {
    .el-form-item__label {
      width: 70px !important;
    }
    .el-form-item__content {
      margin-left: 70px !important ;
    }
    .no_margin_left {
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }

  .label80 {
    .el-form-item__label {
      width: 80px !important;
    }
    .el-form-item__content {
      margin-left: 80px !important ;
    }
    .no_margin_left {
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }
  .label90 {
    .el-form-item__label {
      width: 90px !important;
    }
    .el-form-item__content {
      margin-left: 90px !important ;
    }
  }
  .label100 {
    .el-form-item__label {
      width: 100px !important;
    }
    .el-form-item__content {
      margin-left: 100px !important ;
    }
  }
  .label110 {
    .el-form-item__label {
      width: 110px !important;
    }
    .el-form-item__content {
      margin-left: 110px !important ;
    }
  }
  .label120 {
    .el-form-item__label {
      width: 120px !important;
    }
    .el-form-item__content {
      margin-left: 120px !important ;
    }
    .no_margin_left {
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }
  .label140 {
    .el-form-item__label {
      width: 140px !important;
    }
    .el-form-item__content {
      margin-left: 140px !important ;
    }
    .no_margin_left {
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }
}
